
header(role="banner" class="page-header")
	div(class="site-branding")
		h1(class="site-title")
			a.ir(href="/digskills-603/rwd-01/") hello
		h2(class="tagline") Photo + Film 
			span(class="amp") & Web
	nav(role="navigation" class="top-nav cf")
		ul
			li
				a(href="/") Home
			li
				a(href="/about") About
			li
				a(href="/portfolio") Portfolio
			li
				a(href="/contact") Contact
			if locals.user
				li
					a(href="/logout") Logout
				li
					a(href="/chat") Chat
			else
				li
					a(href="/login") Login