
header(role="banner" class="page-header")
	div(class="site-branding")
		h1(class="site-title")
			a.ir(href="/digskills-603/rwd-01/") hello
		h2(class="tagline") Photo + Film 
			span(class="amp") & Web
	nav(role="navigation" class="top-nav cf")
		ul
			li
				a(href="/digskills-603/rwd-02/") Home
			li
				a(href="/digskills-603/rwd-02/about") About
			li
				a(href="/digskills-603/rwd-02/portfolio") Portfolio
			li
				a(href="/digskills-603/rwd-02/contact") Contact